/* Estilos Customizados para Sistema Financeiro Commit JR */

/* SCROLLBAR CUSTOMIZADO */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #1A82D9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1A82D9;
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1A82D9;
}

/* PLANO DE FUNDO DO CORPO DA PÁGINA (CORRIDA PARA #2E3F42) */
body {
    background-color: #FFFFFF; 
}

/* TRANSIÇÃO PARA BARRAS DO GRÁFICO */
.chart-bar {
    transition: height 0.5s ease-out, background-color 0.3s;
}
